<template>
  <div class="menu">
    <ul class="toolbar">
      <li class="menu-item" @click="$emit('add-graphic')">
        New Graphic
      </li>
      <li class="menu-item" @click="triggerFileUploader()">
        <input type="file" :hidden="true" ref="fileUploader" @change="addGraphicFromFile()" accept=".xml">
        New Graphic from file
      </li>
      <li class="menu-item" @click="$emit('download-all');">
        Download All XMLs
      </li>
      <li class="menu-item" @click="$emit('clear-all');">
        Delete All XMLs
      </li>
    </ul>
    <div class="credentials-toolbar">
      <a href="https://p.lodz.pl"><img class="credentials" src="https://edu.p.lodz.pl/theme/adaptable/pix/wikamp-logos/logoPL.png"></a>
      <a href="https://ftims.p.lodz.pl"><img class="credentials" src="https://ftims.edu.p.lodz.pl/theme/adaptable/pix/marketing-blocks/icons/WFTIMSlogo.png"></a>
      <a class="credentials" href="https://ftims.edu.p.lodz.pl/user/profile.php?id=18993">
        Yauheni Nestsiaruk 230113
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  name: "ToolBar",
  emits: ['add-graphic', 'add-graphic-from-file', 'download-all', 'clear-all'],
  methods: {
    triggerFileUploader() {
      (this.$refs.fileUploader as HTMLInputElement).click();
    },
    addGraphicFromFile() {
      const fileUploader = this.$refs.fileUploader as HTMLInputElement;
      const fr = new FileReader();
      fr.onload = () => {
        this.$emit("add-graphic-from-file", fr.result, fileUploader.files![0].name.split('.').slice(0, -1).join());
      }
      if (fileUploader.files) {
        fr.readAsText(fileUploader.files[0]);
      }
    }
  }
})
</script>

<style scoped>
.toolbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: deepskyblue;
}
.credentials {
  cursor: pointer;
  display: block;
  height: 60px;
  padding: 5px;
  color: #444;
  text-decoration-style: unset;
}
.credentials-toolbar {
  display: flex;
  height: 60px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.menu-item:hover {
  background: #1565C0;
}
</style>