<template>
  <pre class="xml-code-input" ref="xml-content" :style="isError ? `color: red` : `color: black`"/>
</template>

<script lang="ts">

import {parseStringToXml, parseXmlDocument} from "@/xmlConverter";
import {defineComponent, PropType} from "vue";
import {XmlParserXmlElement} from "@/xmlConverter";

export default defineComponent({
  name: "XmlCode",
  props: {
    xmlDocument: {type: Object as PropType<XmlParserXmlElement>, required: true}
  },
  data() {
    return {
      isError: false as boolean
    }
  },
  methods: {
    parseXml() {
      try {
        this.isError = false;
        (this.$refs['xml-content'] as HTMLPreElement).textContent = parseXmlDocument(parseStringToXml(parseXmlDocument(this.xmlDocument)), true);
      } catch (e: any) {
        this.isError = true;
        (this.$refs['xml-content'] as HTMLPreElement).textContent = e
      }
    }
  }
})

</script>

<style scoped>
.xml-code-input {
  width: 50%;
  background-color: aqua;
  float: left;
  margin: 0;
}
</style>