<template>
  <div class="xml-graphic-template">
    <div class="graphics-name">
      <img class="node-element-remove" style="float: right" src="@/assets/remove.svg" @click="$emit('delete-graphic', graphic)">
      <img class="node-element-remove" style="float: right" src="@/assets/download.svg" @click="downloadToFile()">
      <img class="node-element-remove" style="float: right" src="@/assets/accept.svg" @click="$emit('use-accept-model')">
      <input v-if="isEditName"
             type="text"
             ref="name-edit"
             @keypress="editName($event)">
      <div v-else @dblclick="isEditName=true">
        {{graphic.name}}
      </div>

    </div>
    <div @click="$emit('edit-graphic-readonly', !graphic.readonly, graphic)">
      <div class="graphic-mode" v-if="graphic.readonly" >
        <img src="@/assets/readonly.svg">
        Readonly
      </div>
      <div class="graphic-mode" v-else>
        <img src="@/assets/edit.svg">
        Edit mode
      </div>
    </div>
    <node-element v-if="graphic.xmlElement.getContent()"
        :node-element="graphic.xmlElement.getContent()"
        @clean-graphics="cleanGraphics"
        :readonly="graphic.readonly"
    />
    <div v-if="!graphic.xmlElement.getContent()" class="node-element-add-event" @click="addingChild()">
      <img src="@/assets/add.svg">
      XML node
    </div>
  </div>
</template>

<script lang="ts">

import {defineComponent, PropType} from "vue";
import NodeElement from "@/components/graphics-templates/NodeElement.vue";
import {parseXmlDocument, XmlParserNodeElement} from "@/xmlConverter";
import {GraphicModel} from "@/components/XmlTemplate.vue";
import componentTemplates from "@/composables/use-component-templates";

export default defineComponent({
  name: "XmlGraphics",
  components: {NodeElement},
  emits: ["delete-graphic", "edit-graphic-name", "edit-graphic-readonly", "use-accept-model"],
  props: {
    graphic: {type: Object as PropType<GraphicModel>, required: true},
    isDownloadAll: {type: Array, required: true},
  },
  data() {
    return {
      isEditName: false as boolean
    }
  },
  setup() {
    const {download} = componentTemplates();
    return {
      download
    }
  },
  methods: {
    addingChild(){
      this.graphic.xmlElement.setContent(new XmlParserNodeElement("name", null))
    },
    cleanGraphics(){
      this.graphic.xmlElement.setContent(null);
    },
    editName(event: KeyboardEvent) {
      if (event.key == "Enter") {
        if ((this.$refs['name-edit'] as HTMLInputElement).value) {
          this.$emit("edit-graphic-name", (this.$refs['name-edit'] as HTMLInputElement).value, this.graphic);
        }
        this.isEditName = false
      }
    },
    downloadToFile() {
      this.download(`${this.graphic.name}.xml`, parseXmlDocument(this.graphic.xmlElement, true))
    },
  },
  watch: {
    isDownloadAll() {
      this.downloadToFile();
    }
  }
})
</script>

<style scoped>
.xml-graphic-template {
  background-color: #3DB2FF;
  width: 50%;
  border-style: solid solid solid none;
  border-color: #92c7ff;
  border-width: 5px;
}
.graphics-name {
  font-size: 20px;
  text-align: center;
}
.graphic-mode {
  border-style: solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 2px 5px 2px 2px;
  margin: 3px 3px 0px 0px;
  cursor: pointer;
  height: 20px;
}
</style>