<template>
  <div class="main-screen">
    <tool-bar @add-graphic="addGraphic"
              @add-graphic-from-file="addGraphicFromFile"
              @download-all="downloadAll"
              @clear-all="clearAll"
    />
    <ul class="toolbar" v-if="graphics.length">
      <li class="menu-item" v-for="(graphicModel, id) in graphics" :style="graphicModel === usedGraphic ? 'background: #2575D0' : ''"
          :key="id" @click="usedGraphic = graphicModel">{{graphicModel.name}}</li>
    </ul>
    <div v-if="graphics.length"
         class="graphics">
      <xml-graphics
          v-if="usedGraphic"
          :is-download-all="isDownloadAll"
          :graphic="usedGraphic"
          @edit-graphic-name="editGraphicName"
          @edit-graphic-readonly="editGraphicReadonly"
          @delete-graphic="deleteGraphic"
          @use-accept-model="useAcceptModel"
      />
      <xml-code v-if="usedGraphic" :xml-document="usedGraphic.xmlElement" ref="xml-code"/>
    </div>
  </div>
</template>

<script lang="ts">

import {defineComponent} from "vue";
import XmlCode from "@/components/XmlCode.vue";
import ToolBar from "@/components/ToolBar.vue";
import XmlGraphics from "@/components/XmlGraphics.vue";
import {parseStringToXml, XmlParserXmlElement} from "@/xmlConverter";

export interface GraphicModel {
  name: string,
  xmlElement: XmlParserXmlElement,
  readonly: boolean
}

export default defineComponent({
  name: "XMLTemplate",
  components: {XmlGraphics, ToolBar, XmlCode},
  data() {
    return {
      graphics: [] as GraphicModel[],
      isDownloadAll: [] as Array<any>,
      usedGraphic: null as GraphicModel | null
    }
  },
  methods: {
    addGraphic(){
      const xmlElement = new XmlParserXmlElement();
      xmlElement.setVersion("1.0")
      xmlElement.setEncoding("UTF-8")
      this.graphics.push({
        name: "Name",
        xmlElement,
        readonly: false,
      })
      if (this.graphics.length === 1) {
        this.usedGraphic = this.graphics[0];
      }

    },
    useAcceptModel() {
      (this.$refs['xml-code'] as typeof XmlCode).parseXml();
    },
    deleteGraphic(graphic: GraphicModel): boolean {
      const newGraphics = this.graphics.filter((gr) => {
        return gr != graphic;
      });
      const res = newGraphics.length == this.graphics.length
      this.graphics.length = 0;
      newGraphics.forEach((gr) => {
        this.graphics.push(gr);
      })
      return res;
    },
    editGraphicName(newName: string, graphicModel: GraphicModel) {
      for (const graphic of this.graphics){
        if (graphicModel == graphic){
          graphic.name = newName;
        }
      }
    },
    editGraphicReadonly(readonly: boolean, graphicModel: GraphicModel) {
      for (const graphic of this.graphics){
        if (graphicModel == graphic){
          graphic.readonly = readonly;
        }
      }
    },
    addGraphicFromFile(content: string, name: string){
      const xmlElement = parseStringToXml(content);
      this.graphics.push({
        name,
        xmlElement,
        readonly: true,
      })
      if (this.graphics.length === 1) {
        this.usedGraphic = this.graphics[0];
      }
    },
    downloadAll() {
      this.isDownloadAll = [];
    },
    clearAll() {
      this.graphics.length = 0;
    }
  }
})
</script>

<style scoped>
.graphics {
  display: flex;
}
.toolbar {
  height: 60px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background: deepskyblue;
}
.menu-item {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.menu-item:hover {
  background: #1565C0;
}
</style>