body {
    margin: 0;
}
.node-element-add-event {
    border-style: solid;
    border-radius: 15px;
    border-color: green;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 2px;
    margin-right: 3px;
    cursor: pointer;
    color: green;
}
.node-element-remove {
    margin-right: 3px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    horiz-align: right;
}
.node-element-collapse {
    margin-right: 3px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    horiz-align: left;
}
a:visited, a:hover, a:active, a:focus, a {
    color: black !important;
    text-decoration: none !important;
    outline: none !important;
}