<template>
  <div class="attribute">
    <div class="attribute-info">
      <div>
        <input v-if="isNamespaceEdit && !readonly"
               type="text"
               ref="namespace-edit"
               @keypress="editText($event, 'namespace')">
        <div v-else-if="attribute.getNamespace()"
             class="attribute-namespace"
             @dblclick="isNamespaceEdit = true"
        >
          {{attribute.getNamespace()}}:
        </div>
        <div v-else-if="!readonly" class="node-element-add-event" @click="isNamespaceEdit = true">
          <img src="@/assets/add.svg">
          namespace
        </div>
      </div>
      <div>
        <input v-if="isNameEdit && !readonly"
               type="text"
               ref="name-edit"
               @keypress="editText($event, 'name')">
        <div v-else
             class="attribute-name"
             @dblclick="isNameEdit = true"
        >
          {{attribute.getName()}} =
        </div>
      </div>
      <div>
        <input v-if="isValueEdit && !readonly"
               type="text"
               ref="value-edit"
               @keypress="editText($event, 'value')">
        <div v-else-if="attribute.getValue()"
             class="attribute-value"
             @dblclick="isValueEdit = true"
        >
          {{attribute.getValue()}}
        </div>
        <div v-else-if="!readonly" class="node-element-add-event" @click="isValueEdit = true">
          <img src="@/assets/add.svg">
          value
        </div>
      </div>
    </div>
    <div class="node-element-remove" v-if="!readonly">
      <img src="@/assets/remove.svg" @click="deleteAttr()">
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {XmlParserArgumentElement, XmlParserNodeElement} from "@/xmlConverter";

export default defineComponent({
  name: "AttributeElement",
  props: {
    attribute: {type: Object as PropType<XmlParserArgumentElement>, required: true},
    nodeElement: {type: Object as PropType<XmlParserNodeElement>, required: true},
    readonly: {type: Boolean, required: true}
  },
  data() {
    return {
      isNamespaceEdit: false as boolean,
      isNameEdit: false as boolean,
      isValueEdit: false as boolean,
    }
  },
  methods: {
    deleteAttr(){
      this.nodeElement.deleteAttr(this.attribute);
    },
    editText(event: KeyboardEvent, editType: "name" | "namespace" | "value") {
      if (event.key == "Enter") {
        switch (editType) {
          case "name":
            if ((this.$refs['name-edit'] as HTMLInputElement).value) {
              this.attribute.setName((this.$refs['name-edit'] as HTMLInputElement).value);
            }
            this.isNameEdit = false
            break;
          case "namespace":
            if ((this.$refs['namespace-edit'] as HTMLInputElement).value) {
              this.attribute.setNamespace((this.$refs['namespace-edit'] as HTMLInputElement).value);
            } else if (this.attribute.getNamespace()) {
              this.attribute.setNamespace();
            }
            this.isNamespaceEdit = false
            break;
          case "value":
            if ((this.$refs['value-edit'] as HTMLInputElement).value) {
              this.attribute.setValue((this.$refs['value-edit'] as HTMLInputElement).value);
            } else if (this.attribute.getValue()) {
              this.attribute.setValue();
            }
            this.isValueEdit = false
            break;
        }
      }
    }
  }
})
</script>

<style scoped>
.attribute {
  background-color: #cbcb1b;
  border-radius: 15px;
  margin: 5px;
  padding: 3px 3px 3px 10px;
  display: flex;
  justify-content: space-between;
}
.attribute-info {
  display: flex;
  align-items: center;
}
.attribute-name {
  cursor: pointer;
  color: #723e1b;
}
.attribute-namespace {
  cursor: pointer;
  color: #1b7234;
}
.attribute-value {
  cursor: pointer;
  color: #4a16a1;
}
</style>