<template>
  <div class="node-element">
    <img v-if="isCollapsed" class="node-element-collapse" src="@/assets/expand.svg" @click="isCollapsed = !isCollapsed">
    <img v-else class="node-element-collapse" src="@/assets/collapse.svg" @click="isCollapsed = !isCollapsed">
    <div class="node-element-main">
      <div>
        <div class="node-element-header">
          <div class="node-element-info">
            <div>
                <input v-if="isNamespaceEdit && !readonly"
                       type="text"
                       ref="namespace-edit"
                       @keypress="editText($event, 'namespace')">
                  <div v-else-if="nodeElement.getNamespace()"
                       class="node-element-namespace"
                       @dblclick="isNamespaceEdit = true"
                  >
                    {{nodeElement.getNamespace()}}:
                  </div>
                  <div v-else-if="!readonly" class="node-element-add-event" @click="isNamespaceEdit = true">
                    <img src="@/assets/add.svg">
                    namespace
                  </div>
              </div>
              <div>
                  <input v-if="isNameEdit && !readonly && !isCollapsed"
                         type="text"
                         ref="name-edit"
                         @keypress="editText($event, 'name')">
                  <div v-else class="node-element-name"  @dblclick="isNameEdit = true">
                    {{nodeElement.getName()}}
                  </div>
              </div>
            </div>
        </div>
        <div v-if="!isCollapsed">
          <attribute-element
              v-for="(attribute, id) in nodeElement.getAttrs()"
              :key="id"
              :readonly="readonly"
              :attribute="attribute"
              :node-element="nodeElement"
          />
        </div>
        <div v-if="!readonly && !isCollapsed" class="node-element-add-event" style="margin-bottom: 5px" @click="addingAttr()">
          <img src="@/assets/add.svg">
          attribute
        </div>
        <img v-if="!nodeElement.getChildren().length && nodeElement.getText() && !readonly" class="node-element-remove" src="@/assets/remove.svg" @click="nodeElement.setText('')">
        <input v-if="isTextEdit && !readonly"
               type="text"
               ref="text-edit"
               @keypress="editText($event, 'text')">
        <div v-else-if="!nodeElement.getChildren().length && nodeElement.getText()"
             class="node-element-text"
             @dblclick="isTextEdit = true"
        >
          {{nodeElement.getText()}}
        </div>
        <div v-else-if="!nodeElement.getChildren().length && !readonly && !isCollapsed" class="node-element-add-event" style="margin-bottom: 5px" @click="isTextEdit = true">
          <img src="@/assets/add.svg">
          text
        </div>
        <div v-if="!isCollapsed">
            <node-element
                v-for="(nodeChild, id) in nodeElement.getChildren()"
                :key="id"
                :readonly="readonly"
                :node-element="nodeChild"
            />
        </div>
        <div v-if="!readonly && !isCollapsed && !nodeElement.getText()" class="node-element-add-event" @click="addingChild()">
          <img src="@/assets/add.svg">
          child
        </div>
      </div>
    </div>
    <img v-if="!readonly" class="node-element-remove" src="@/assets/remove.svg" @click="deleteNode()">
  </div>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {XmlParserArgumentElement, XmlParserNodeElement} from "@/xmlConverter";
import AttributeElement from "@/components/graphics-templates/AttributeElement.vue";

export default defineComponent({
  name: "NodeElement",
  components: {AttributeElement},
  props: {
    nodeElement: {type: Object as PropType<XmlParserNodeElement>, required: true},
    readonly: {type: Boolean, required: true}
  },
  emits: ["clean-graphics"],
  data() {
    return {
      isNamespaceEdit: false as boolean,
      isNameEdit: false as boolean,
      isTextEdit: false as boolean,
      isCollapsed: true as boolean,
    }
  },
  methods: {
    deleteNode(){
      if (this.nodeElement.getParent()) {
        this.nodeElement.getParent()!.deleteChildren(this.nodeElement);
      } else {
        this.$emit("clean-graphics", this.nodeElement)
      }
    },
    addingAttr() {
      const num = this.nodeElement.getAttrs().length;
      this.nodeElement.addAttr(new XmlParserArgumentElement(`new_attr${num ? "_" + num : ""}`))
    },
    addingChild() {
      this.nodeElement.addChildren(new XmlParserNodeElement('new_child', this.nodeElement))
    },
    editText(event: KeyboardEvent, editType: "name" | "namespace" | "text") {
      if (event.key == "Enter") {
        switch (editType) {
          case "name":
            if ((this.$refs['name-edit'] as HTMLInputElement).value) {
              this.nodeElement.setName((this.$refs['name-edit'] as HTMLInputElement).value);
            }
            this.isNameEdit = false
            break;
          case "namespace":
            if ((this.$refs['namespace-edit'] as HTMLInputElement).value) {
              this.nodeElement.setNamespace((this.$refs['namespace-edit'] as HTMLInputElement).value);
            } else if (this.nodeElement.getNamespace()) {
              this.nodeElement.setNamespace();
            }
            this.isNamespaceEdit = false
            break;
          case "text":
            if ((this.$refs['text-edit'] as HTMLInputElement).value) {
              this.nodeElement.setText((this.$refs['text-edit'] as HTMLInputElement).value);
            } else if (this.nodeElement.getText()) {
              this.nodeElement.setText('');
            }
            this.isTextEdit = false
            break;
        }
      }
    }
  }
})
</script>

<style>
.node-element-main {
  width: 100%;
}
.node-element{
  background-color: #FFEDDA;
  border-radius: 10px;
  margin: 5px 0 5px 5px;
  padding: 3px 0 3px 3px;
  font-size: 16px;
  border-color: #C400FF;
  border-width: medium;
  border-style: solid;
  display: flex;
}
.node-element-name {
  color: #4A503D;
  cursor: pointer;
  margin-right: 10px;
}
.node-element-namespace {
  color: #FF2442;
  cursor: pointer;
}
.node-element-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.node-element-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

</style>