<template>
  <x-m-l-template/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import XMLTemplate from "@/components/XmlTemplate.vue";

export default defineComponent({
  name: "App",
  components: {XMLTemplate}
})

</script>
